
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
:root {
  --clr-white: #f1f7ee;
  --clr-green: #02c39a;
  --clr-dark-blue: #0f1e44;
  --clr-text: #41495f;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


img {
  width: 100%;
}

.img-container {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-dark-blue);
}

h1 {
  font-family: "Cairo", sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

h2 {
  font-size: 17px;
  letter-spacing: 1px;
}

h3 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

p {
  font-size: 14px;
  text-align: left;
  color: var(--clr-text);
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: var(--clr-green);
}

.logo img {
  width: 72%;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding-left: 4rem;
}
.logo a {
  color: var(--clr-dark-blue);
  font-size: 1.3rem;
}

.btn-container {
  text-align: center;
}

.btn {
  border-radius: 3px;
  padding: 14px 33px;
  display: inline-block;
  color: var(--clr-green);
  border: 2px solid var(--clr-green);
  font-weight: 700;
}

.btn-container a {
  text-align: center;
  font-size: 0.7rem;
}

.btn:hover {
  background: var(--clr-green);
  color: var(--clr-dark-blue);
}
.about-wrapper,
.tour-wrapper,
.contact-wrapper {
  background: #f1f7ee;
  padding: 0 5%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*NAV*/
.header-home,
.header {
  background: var(--clr-green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  -webkit-box-shadow:  0px 0px 11px 0px #6c716cb5;
          box-shadow:  0px 0px 11px 0px #6c716cb5;
}

.toggle {
  display: none;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  padding-right: 4rem;
  font-size: 35px;
  width: 26px;
  color: var(--clr-dark-blue);
  z-index: 100;
}

.nav-links {
  text-align: center;
  padding-top: 7.5rem;
  display: none;
  list-style: none;
  background: #dfe4dc;
  -webkit-transform: translateY(-47px);
      -ms-transform: translateY(-47px);
          transform: translateY(-47px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.nav-links a {
  padding: 30px 0;
  display: block;
  margin: 0;
  font-weight: 600;
}

.toggle:checked + .mobile-menu + .nav-links {
  display: block;
}
.toggle:checked + .mobile-menu {
  color: var(--clr-green);
}


.nav-links a {
  clear: right;
  text-decoration: none;
  color: var(--clr-dark-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
/*----END NAV-----*/


/*---HOME---*/
.image-bg {
  width: 100%;
  line-height: 1.5;
  background-image: url(../images/re-cycle_small.jpg);
  margin-top: 60px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.alpha-bg {
  padding: 0px 20px;
  height: 100%;
  color: var(--clr-white);
  background: rgba(14, 4, 4, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alpha-bg h1 {
  color: var(--clr-white);
  text-align: center;
  text-transform: uppercase;
}

.alpha-bg p {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #aeafb1;
  text-align: center;
}

.intro {
  background: #f1f7ee;
  padding: 6rem 20px;
}

.intro section p {
  line-height: 1.8;
  font-weight: 300;
}
.intro-header h2 {
  margin-bottom: 2rem;
}

.content-wrapper section {
  margin: 40px 0;
}

footer {
  background: var(--clr-green);
  width: 100%;
  padding: 1px 0;
  padding: 20px 0;
}

footer p {
  color:var(--clr-dark-blue);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
footer {
  margin-top: auto;
}

/*---END HOME---*/



/*---ABOUT US---*/
.container {
  max-width: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-container-1 {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  width: 100%;
}

.about-wrapper .img-container {
  background-image: url(../images/team.jpg);
}
/*---END ABOUT US---*/



/*---TOURS---*/
.inner-container-bg {
  background: #f1f7ee;
}

.tour-container:nth-child(1) .img-container {
  background-image: url(../images/city-biking-small.jpg);
}
.tour-container:nth-child(2) .img-container {
  background-image: url(../images/river-biking-small.jpg);
  background-position: top;
}
.tour-container:nth-child(3) .img-container {
  background-image: url(../images/mountain-biking-small.jpg);
  background-position: right center;
}

.adventures {
  color: #0f1e44;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-title {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-title span {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

.time {
  font-weight: 700;
  color: var(--clr-green);
}

.tour-container {
  margin-bottom: 25%;
}

.tour-content {
  margin-top: 0;
  margin-bottom: 1rem;
}

.tour-content-right {
  margin-bottom: 30px;
}

.content-container a {
  color: #0f1e44;
  text-decoration: underline;
  font-size: 0.9rem;
  text-transform: inherit;
}
/*---END TOURS---*/



/*---CONTACT---*/

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;

  .contact-inner-wrapper {
    width: 100%;
  }
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 13px;
}

.inner-contact-title {
  font-size: 0.9rem;
  padding-bottom: 5%;
  font-weight: 500;
}

.inner-contact-title .adress {
  margin-top: 20%;
}

form {
  width: 100%;

}

.contact-info {
  font-size: 0.7rem;
}
.contact-info p {
  margin: 0;
  font-size: 0.7rem;
}
.txt-form {
  font-size: 0.8rem;
  border: 1px solid #0f1e44;
  margin: 15px 0;
  padding: 12px 6px;
  border-radius: 3px;
}

.txt-form label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.7em;
}

textarea {
  height: 100px;
}

.txt-form input,
.txt-form textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  margin-top: 6px;
}

.btn-form {
  color: var(--clr-dark-blue);
  width: 100%;
  text-align: center;
  padding: 8px 33px;
    font-size: 1rem;
}

.inner-contact-form div {
  background: white;
}
/*--END CONTACT--*/





@media only screen and (min-width: 600px) {

  .img-container {
    height: 330px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }

  .alpha-bg p {
    padding-bottom: 5.5rem;
  }

  .outer-section,
  .img-content,
  .section-title,
  .container {
    max-width: 580px;
    margin: 0 auto;
  }

  .section-title {
    margin-top: 3rem;
  }

  .tour-container {
    padding-bottom: 5rem;
    margin-bottom: 0;

  }


  .img-content p {
    width: 76%;
    margin: 0 auto;
  }
.about-wrapper .container, .tour-container .container 
  .container {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
  }

  .tour-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }


  .adventures {
    margin-top: 0;
  }

  .content-right {
    margin-top: 0;
    font-weight: 300;
  }

  /*Contact*/

  .inner-container {
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: baseline;
     -ms-flex-align: baseline;
         align-items: baseline;
 width: auto;
 margin-bottom: auto;
  }


  .contact-wrapper .contact-inner-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 100%;
   
  }

  .txt-form:nth-child(1) {
    margin-top: 0;
  }
  form {
    width: 300px;
    margin-right: 15%;
  }

  .contact-info {
    padding-bottom: 1rem;
  }

  .btn-form {
    padding: 1px 33px;
  }
}


@media only screen and (min-width: 850px) {

  .nav-bar, .img-content, .outer-section, .section-title, .about-wrapper article, .tour-wrapper section, .contact-wrapper section {
    max-width: 1200px;
    margin: 0 auto;
  }

    .alpha-bg .img-content p {
    width: 57%;
  }

  nav {
    max-width: 90%;
    padding: 1.5% 0 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0;
  }

  .logo {
    margin-top: 0;
    margin-right: auto;
  }
  .nav-links {
    position: inherit;
    -webkit-transform: inherit;
        -ms-transform: inherit;
            transform: inherit;
    background: transparent;
    margin-top: 0;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45%;
    z-index: 1001;
  }
  .header-home .nav-links a {
    color: var(--clr-dark-blue);
  }


  .nav-links a {
    font-size: 0.8rem;
    padding: 0;
  }

  .nav-links li {
    border-bottom: 2px solid transparent;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
  }

  .nav-links li:hover {
    border-bottom-color: var(--clr-text);
    -webkit-transition: border-bottom 0.3s ease-in-out;
    -o-transition: border-bottom 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out;
  }
  .nav-links li:hover a {
    color: var(--clr-text);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .mobile-menu {
    display: none;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .logo img {
    width: 80%;
  }

  .btn-container .btn {
    padding: 9px 24px;
    font-size: 13px;
  }

  .section-title {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .alpha-bg .img-content {
    max-width: 810px;
  }


 


  /*--ABOUT US --*/

  .about-wrapper .img-container {
    width: 50%;
  }

  .content-right {
    padding-left: 20px;
  }

  .content-right p {
    line-height: 2;
    margin-top: 0;
  }

  .tour-content-right {
    height: 600px;
  }

  /*---CONTACT---*/
  .contact-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .image-bg {
    background-image: url(../images/cycling_landscape.jpg);

  }

  .intro {
    padding-left: 0;
    padding-right: 0;
  }

  .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-wrapper div {
    width: 46%;
  }

  .intro-header h1 {
    margin-bottom: 0.5em;
  }

  .about-wrapper .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }


  .tour-wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    height: 100%;
  }

  .tour-wrapper .card .img-container, .content-container,
  .about-wrapper .container .img-container, 
  .about-wrapper .container .inner-container-2  {
    width: 48%;
  }

  .contact-wrapper .inner-container {
    width: 20%;
  }

  .contact-wrapper .contact-inner-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  form {
    width: 30%;
  }
}


@media only screen and (min-width: 1000px) {
  .logo {
    left: 200px;
  }

  .img-content {
    width: 60%;
    padding: 10% 0 5% 0;
  }

  .contact-info p {
    font-size: 0.8rem;
  }
  .intro section p, .content-right p {
    font-size: 1rem;
  }
 
  .content-wrapper h3 {
    text-align: left;
  }
  .card-title {
    font-size: 1.2rem;
  }

  .tour-content-right a {
    padding: 0;
  }
}