*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
:root {
  --clr-white: #f1f7ee;
  --clr-green: #02c39a;
  --clr-dark-blue: #0f1e44;
  --clr-text: #41495f;
}

main {
  flex: 1;
}


img {
  width: 100%;
}

.img-container {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-dark-blue);
}

h1 {
  font-family: "Cairo", sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

h2 {
  font-size: 17px;
  letter-spacing: 1px;
}

h3 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

p {
  font-size: 14px;
  text-align: left;
  color: var(--clr-text);
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: var(--clr-green);
}

.logo img {
  width: 72%;
}

.logo {
  max-width: 140px;
  display: inline-block;
  margin-top: 12px;
  margin-left: 2rem;
}

.btn-container {
  text-align: center;
}

.btn {
  border-radius: 3px;
  padding: 14px 33px;
  display: inline-block;
  font-size: 0.9rem;
  color: var(--clr-dark-blue);
  background: var(--clr-green);
  box-shadow: 0px 0px 2px var(--clr-green);
  font-weight: 700;
}

.btn a {
  text-align: center;
}

.btn:hover {
  background: #078a6e;
}
.about-wrapper,
.tour-wrapper,
.contact-wrapper {
  background: #f1f7ee;
  padding: 0 5%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*NAV*/
.header-home,
.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

.toggle {
  display: none;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  padding-right: 4rem;
  margin-top: 6px;
  font-size: 35px;
  width: 26px;
  float: right;
  color: var(--clr-white);
  z-index: 100;
}

.nav-links {
  text-align: center;
  padding-top: 7.5rem;
  display: none;
  list-style: none;
  background: #dfe4dc;
  transform: translateY(-47px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.nav-links a {
  padding: 30px 0;
  display: block;
  margin: 0;
}

.toggle:checked + .mobile-menu + .nav-links {
  display: block;
}
.toggle:checked + .mobile-menu {
  color: var(--clr-green);
}

.nav-links a {
  clear: right;
  text-decoration: none;
  color: var(--clr-dark-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
/*----END NAV-----*/


/*---HOME---*/
.image-bg {
  width: 100%;
  line-height: 1.5;
  background: url(images/re-cycle_small.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.alpha-bg {
  padding: 0px 20px;
  height: 100%;
  color: var(--clr-white);
  background: rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alpha-bg h1 {
  color: var(--clr-green);
  text-align: center;
  text-transform: uppercase;
}

.alpha-bg p {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--clr-white);
  text-align: center;
}

.intro {
  background: #f1f7ee;
  padding: 6rem 20px;
}

.intro section p {
  line-height: 1.8;
  font-weight: 300;
}
.intro-header h2 {
  margin-bottom: 2rem;
}

.content-wrapper section {
  margin: 40px 0;
}

footer {
  background: var(--clr-green);
  width: 100%;
  padding: 1px 0;
  padding: 20px 0;
}

footer p {
  color:var(--clr-dark-blue);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
footer {
  margin-top: auto;
}

/*---END HOME---*/



/*---ABOUT US---*/
.header .mobile-menu {
  color: var(--clr-green);
}

.container {
  max-width: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-container-1 {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  width: 100%;
}

.about-wrapper .img-container {
  background-image: url(images/team.jpg);
}
/*---END ABOUT US---*/



/*---TOURS---*/
.inner-container-bg {
  background: #f1f7ee;
}

.tour-container:nth-child(2) .img-container {
  background-image: url(images/city-biking-small.jpg);
}
.tour-container:nth-child(3) .img-container {
  background-image: url(images/river-biking-small.jpg);
}
.tour-container:nth-child(4) .img-container {
  background-image: url(images/mountain-biking-small.jpg);
  background-position: right center;
}

.adventures {
  color: #0f1e44;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-title {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.card-title span {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

.time {
  font-weight: 700;
  color: var(--clr-green);
}

.tour-container {
  margin-bottom: 25%;
}

.tour-content {
  margin-top: 0;
  margin-bottom: 1rem;
}

.tour-content-right {
  margin-bottom: 30px;
}

.content-container a {
  color: #0f1e44;
  text-decoration: underline;
  font-size: 0.9rem;
  text-transform: inherit;
}
/*---END TOURS---*/



/*---CONTACT---*/

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 13px;
}

.inner-contact-title {
  font-size: 0.9rem;
  padding-bottom: 5%;
  font-weight: 500;
}

.inner-contact-title .adress {
  margin-top: 20%;
}

form {
  width: 100%;

}

.contact-info {
  font-size: 0.7rem;
}
.contact-info p {
  margin: 0;
  font-size: 0.7rem;
}
.txt-form {
  font-size: 0.8rem;
  border: 1px solid #0f1e44;
  margin: 15px 0;
  padding: 12px 6px;
  border-radius: 3px;
}

.txt-form label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.7em;
}

textarea {
  height: 100px;
}

.txt-form input,
.txt-form textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  margin-top: 6px;
}

.btn-form {
  color: var(--clr-dark-blue);
  width: 100%;
  text-align: center;
  padding: 7px 33px;
}

.inner-contact-form div {
  background: white;
}
/*--END CONTACT--*/





@media only screen and (min-width: 600px) {

  .img-container {
    height: 330px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }

  .alpha-bg p {
    padding-bottom: 5.5rem;
  }

  .outer-section,
  .img-content,
  .section-title,
  .container {
    max-width: 580px;
    margin: 0 auto;
  }

  .section-title {
    margin-top: 3rem;
  }

  .tour-container {
    padding-bottom: 5rem;
  }


  .img-content p {
    width: 76%;
    margin: 0 auto;
  }

  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .adventures {
    margin-top: 0;
  }

  .img-container,
  .tour-container .content-container,
  .inner-container-2 {
    width: 48%;
  }

  .content-right {
    margin-top: 0;
  }

  /*Contact*/

  .inner-container {
    flex-direction: column;
    align-items: baseline;
    width: 30%;
  }
  .txt-form:nth-child(1) {
    margin-top: 0;
  }
  form {
    width: 300px;
    margin-right: 41%;
  }

  .contact-info {
    padding-bottom: 1rem;
  }
}


@media only screen and (min-width: 850px) {

    .alpha-bg .img-content p {
    width: 57%;
  }

  nav {
    max-width: 90%;
    padding: 1.5% 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0;
  }

  .logo {
    margin-top: 0;
    margin-right: auto;
  }
  .nav-links {
    position: inherit;
    transform: inherit;
    background: transparent;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    z-index: 1001;
  }
  .header-home .nav-links a {
    color: var(--clr-white);
  }

  .header {
    background: var(--clr-white);
  }
  .nav-links a {
    font-size: 0.8rem;
    padding: 0;
  }

  .nav-links li {
    border-bottom: 2px solid transparent;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
  }

  li:hover {
    border-bottom-color: var(--clr-green);
    transition: border-bottom 0.5s ease-in-out;
  }

  .mobile-menu {
    display: none;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }

  .logo img {
    width: 80%;
  }

  .btn-container .btn {
    padding: 9px 24px;
    font-size: 13px;
  }

  .section-title {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .alpha-bg .img-content {
    max-width: 810px;
  }


 


  /*--ABOUT US --*/

  .about-wrapper .img-container {
    width: 50%;
  }

  .content-right {
    padding-left: 20px;
  }

  .content-right p {
    line-height: 2;
    margin-top: 0;
  }

  .tour-content-right {
    height: 600px;
  }

  /*---CONTACT---*/
  .contact-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .image-bg {
    background-image: url(images/cycling_landscape.jpg);

  }

  .intro {
    padding-left: 0;
    padding-right: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content-wrapper div {
    width: 46%;
  }

  .intro-header h1 {
    margin-bottom: 0.5em;
  }
}


@media only screen and (min-width: 1000px) {
  .logo {
    left: 200px;
  }

  .outer-section, .container
  .img-content,
  .section-title,
  .container {
    max-width: 60%;
  }

  .img-content {
    width: 60%;
    padding: 10% 0 5% 0;
  }


  .intro section p,
  .content-right p,
  .contact-info p {
    font-size: 0.8rem;
  }
 
  .content-wrapper h3 {
    text-align: left;
  }
  .card-title {
    font-size: 1.2rem;
  }

  .tour-content-right a {
    padding: 0;
  }
}